*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    margin: auto;
    justify-content: center;
    margin: 100px auto;
}

.container-btn{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 1px 0px 1px #dbdbdb;
    border-radius: 5px;
    margin: auto;
    padding: 15px;
}

.btn {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 0px 1px 1px #eeeeee;
    border-radius: 5px;
    margin: 0 2px;
    color: transparent;
}

@media(max-width: 500px){
    .container{
        margin: 50px auto;
    }

    .container-btn{
        padding: 8px;
    }

    h1{
        font-size: 3rem;
    }

    .btn{
        width: 3rem;
        height: 3rem;
        margin: 0 1px;
    }
}