@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poor+Story&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poor Story', Oswald;
    font-size: 18px;
}

h1{
    font-size: 24px !important;
}


body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 90px 1fr 90px;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        'header header'
        'nav cont'
        'footer footer';
}

header{
    grid-area: header;
    background-color: black;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    height: 86px;
}

aside{
    grid-area: nav;
    background-color: #e0dfdf;
}

main{
    grid-area: cont;
}

footer{
    grid-area: footer;
    background-color: black;
}

.footer{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    display: flex;
    justify-content: center;
    background-color: #000;
}

.footer-logo img{
    height: 86px;
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
}

.nav-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-list li{
    list-style: none;
    width: 100%;
    padding: 10px;
}

.nav-list li:hover{
    background-color: #000;
    color: #fff;
}

.nav-list a{
    text-decoration: none;
    color: #000;
}

.active{
    background-color: rgb(59, 59, 59);
    color: #fff;
}


@media(max-width: 740px){
    *{
        font-size: 16px;
    }

    body{
        grid-template-columns: 120px 1fr;
    }
    
}

@media(max-width: 400px) {
    *{
        font-size: 14px;
    }

    body {
        grid-template-columns: 90px 1fr;
    }
}